@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
}
body {
  font-family: "Red Hat Display", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: fixed;
  z-index: 9;
  width: 100%;
  transition: all 0.5s;
}

.nav-links {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 30px;
  color: white;
}

.nav-scrolled {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav-link {
  margin-left: 6%;
  transition: 0.7s ease;
  cursor: pointer;
  text-decoration: none;
}

.nav-a {
  text-decoration: none;
  color: white;
  transition: 0.7s ease;
}

.nav-a-scrolled {
  color: black;
}

/* .nav-link a {
  text-decoration: none;
  color: black;
  transition: 0.7s ease;
} */

.nav-link a:hover {
  color: green;
}

.nav-link:hover {
  color: green;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: green;
}

.nav-icon {
  font-size: 40px;
  cursor: pointer;
}

.hamburger {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

footer a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in;
}

.footer-icon {
  background-color: #ffcc00;
  padding: 6%;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  margin-right: 5%;
}

footer a:hover {
  color: #ffcc00;
}

.gen-btn {
  display: inline-flex;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  padding: 11px 31px;
  height: 48px;
  text-decoration: none !important;
  color: #25282c;
  background-color: #ffcc00;
  border: 1px solid transparent;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  letter-spacing: inherit;
  white-space: nowrap;
  transition: background 0.15s ease;
}

.about-us-section {
  display: flex;
  margin-top: 5%;
}

.our-services-section {
  width: 100%;
  margin-top: 7%;
  background-color: #fffaf1;
  padding-top: 5%;
  padding-bottom: 5%;
}

.our-services-section1 {
  width: 100%;

  background-color: #fffaf1;
  padding-top: 2%;
  padding-bottom: 5%;
}

.other-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-services-section2 {
  width: 100%;

  background-color: #fffaf1;
  padding-top: 2%;
  padding-bottom: 5%;
}

.service-image-boxes {
  width: 400px;
  height: 300px;
  overflow: hidden;
}

.service-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.services-box {
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 0.1%;
  background: white;
  transition: 0.4s ease-in-out;
}
.services-box:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 4%;
  padding: 2%;
}

.btn-type2 {
  display: inline-flex;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-weight: 600;
  padding: 11px 31px;
  height: 48px;
  text-decoration: none !important;
  color: #25282c;
  background-color: #ebf3ec;
  border: 1px solid transparent;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  letter-spacing: inherit;
  white-space: nowrap;
  transition: background 0.15s ease;
}

.social-media-group {
  display: flex;
  gap: 5%;
}

.socials:hover {
  color: #056839 !important;
}

.service-info-header {
  font-size: 15px;
  color: #056839;
  text-transform: uppercase;
}

.service-info-text {
  color: #747474;
  margin-top: 2%;
  line-height: 1.5;
  padding: 2%;
}

.service-btn {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

.service-img:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.section-title {
  color: #ffcc00;
}
.our-service {
  text-align: center;
}
.about-img-section {
  width: 50%;
  height: 500px;
  margin-right: 2%;
}

.about-btn {
  margin-top: 5%;
}

.about-header {
  /* font-size: 40px; */
  word-wrap: break-word;
  /* width: 50%; */
  font-size: 3rem;
  line-height: 1.38;
  margin-top: 4%;
  margin-bottom: 4%;
  max-width: 600px;

  display: block;
}

.about-page-header {
  word-wrap: break-word;
  /* width: 50%; */
  font-size: 3rem;
  line-height: 1.38;
  margin-top: 4%;
  margin-bottom: 4%;
  max-width: 800px;

  display: block;
}

.about-us-page-s1-text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.about-us-page-s1 {
  display: flex;
  margin-top: 5%;
}

.team-img-div {
  width: 600px;
  height: 600px;
  position: relative;
}

.team-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20px 5px;
}
.team-socials {
  position: absolute;
  top: 90%;
  right: 42%;
}
.team-socials2 {
  position: absolute;
  top: 90%;
  right: 25%;
}
.team-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.team-header {
  font-size: 1.8rem;
  color: #056839;
}
.team-section {
  margin-top: 4%;
  margin-bottom: 4%;
}

.team-position {
  color: #d9b833;
  font-weight: 500;
  margin-bottom: 5%;
}
.team-name-position {
  max-width: 550px;
  font-size: 1.25rem;
  line-height: 1.8;
}

.team-info {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.about-text {
  /* width: 50%; */
  text-align: justify;
  line-height: 1.5;
  max-width: 500px;
}

.mission-vision-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.mission-vision-header {
  font-size: 20px;
  margin-bottom: 4%;
}

.mission-vision-statements {
  line-height: 2;
}

.mission-area {
  max-width: 500px;
}
.vision-area {
  max-width: 500px;
}

.mission-vision-icon {
  padding: 7%;
  font-size: 40px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #8dfc9c;
  width: 50px;
  height: 50px;
  color: green;
  border-radius: 50%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.mission-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.vision-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mission-vision-icons {
  width: 100%;
  height: 100%;
}
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mission-vision-area {
  margin-top: 5%;
}

.gen-btn:hover {
  background-color: #d9b833;
}

.logo-img {
  width: 50%;
}

.nav-logo {
  width: 200px;
}

.container {
  padding-left: 200px;
  padding-right: 200px;
}

#check {
  display: none;
}

.checkbtn {
  margin-right: 30px;
  font-size: 30px;
  display: none !important;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}

.banner-info {
  padding-top: 10%;
  max-width: 700px;
}

.banner-info h4 {
  position: relative;
  z-index: 9;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

/* .bounceIn {
      -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
} */

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.banner-header {
  font-size: 6rem;
  color: white;
}

.subtext-banner {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-area {
  background: #212018;

  width: 100%;
}

.footer-section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10%;
  padding: 7%;
}

.breadcrumb {
  color: #ffcc00;
  font-weight: 800;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.breadcrumb:hover {
  color: #d9b833;
}

.about-banner-img {
  height: 300px;
  padding-top: 5%;
}

.about-banner-info {
  text-align: center;
  padding-top: 6%;
}

.footer-section h5 {
  color: white;
  font-size: 20px;
}
.footer-section p {
  color: white;
  font-size: 15px;
}

.footer-company-logo-text {
  width: 100%;
  margin-top: 2%;
}

.footer-item-section {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 5%;
  width: 100%;
}

.work-with-us-content {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;

  align-items: center;
}

.work-with-us-content-header {
  font-size: 2rem;
  color: #056839;
}

.why-work-area {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

.bg-img {
  position: absolute;
  right: 0;
  top: 1180px;
  width: 50%;
}

.work-with-us-content-img-div {
  width: 500px;
  height: 400px;
  /* margin-right: 5%; */
}

.work-with-us-content-info {
  max-width: 500px;
}

.work-with-us-content-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.get-started-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 6%;
  padding-bottom: 6%;
  height: 300px;
}

.get-started {
  background-image: linear-gradient(
      0.6deg,
      rgba(30, 163, 68, 0.813) 5.1%,
      rgba(0, 0, 0, 0) 104.4%
    ),
    url("../images/photo-tomatoes-greenhouse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.get-started-header {
  color: white;
  font-size: 4rem;
}

.work-with-us-subtext {
  line-height: 2;
}

@keyframes zoom-in {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 120%;
  }
}

.banner-img {
  /* -webkit-transition: 10s ease-out;
  transition: 10s ease-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); */
  /* transition: transform 1s ease;
  transform: scale(1.7);
  transform-origin: center; */
  animation: zoom-in 10s infinite;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 480px) {
  .nav-links {
    float: none;
    position: fixed;
    font-size: 30px;
    height: 40%;
    background-color: white;

    display: block !important;
    justify-content: center !important;
    padding-top: 15px;
    width: 100%;
    top: 0;
    left: -200%;
    text-align: left;
    padding-left: 20%;
    padding-top: 20%;
    transition: all 0.5s ease-in-out;
    margin-left: 0px !important;
    z-index: 9;
  }
  .about-us-page-s1 {
    flex-direction: column;
  }

  ul.dropdown {
    position: relative !important;
  }

  .nav-a {
    color: black;
  }
  .team-info {
    flex-direction: column;
  }
  .team-img-div {
    width: 100%;
    height: 300px;
    margin-bottom: 10%;
  }

  .team-name-position {
    font-size: 1rem;
  }

  .team-img {
    object-position: top;
  }

  .about-banner-info {
    padding-top: 30%;
  }

  .team-area {
    flex-direction: column;
  }

  .footer-contact {
    width: unset;
  }

  .footer-comopany {
    width: unset;
  }

  .about-page-header {
    width: 100%;
    max-width: unset;
    font-size: 2rem;
    text-align: center;
  }

  .mission-vision-section {
    flex-direction: column;
  }

  .nav-links.active {
    left: -10%;
  }

  .hamburger {
    display: block;
    z-index: 9;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-link {
    margin-left: 0px;
    margin-bottom: 2%;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .contact-section {
    flex-direction: column;
  }

  .contact-form-area2 {
    margin-top: 10%;
  }
  .gen-btn {
    margin-top: 3%;
  }

  .banner-header {
    font-size: 2.5rem;
    margin-bottom: 4%;
  }

  .hamburger {
    display: block;
  }

  .checkbtn {
    display: block !important;
  }
  #check:checked ~ .nav-links {
    left: 0% !important;
    top: 40px;
  }
  .service-boxes {
    flex-direction: column;
    justify-content: center;
  }

  .footer-section {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .footer-section h5 {
    color: white;
    font-size: 15px;
  }
  .footer-section p {
    color: white;
    font-size: 12px;
  }
  .footer-items {
    margin-top: 6%;
    margin-bottom: 6%;
    margin-right: 5%;
  }
  .services-box {
    width: 80%;
  }

  .banner-img {
    height: 550px !important;
  }

  .contact-input-group {
    flex-direction: column;
  }

  .service-image-boxes {
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  .about-us-section {
    display: flex;
    flex-direction: column;
  }
  .about-img-section {
    height: 200px;
    margin-bottom: 2%;
    width: 100%;
    margin-bottom: 10%;
  }
  .about-header {
    font-size: 1.5em;
    margin-bottom: 5%;
  }
  .banner-info {
    padding-top: 30%;
  }
  .footer-section {
    grid-template-columns: auto auto;
  }
  .nav {
    justify-content: unset;
    gap: 25%;
  }
  .work-with-us-content {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;

    flex-direction: column;

    align-items: center;
  }

  .work-with-us-content-img-div {
    width: 100%;
    height: 200px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 5%;
    margin-bottom: 5%;
    /* margin-right: 5%; */
  }

  .work-with-us-content-info {
    max-width: 100%;
  }
  .work-with-us-content-header {
    font-size: 1.23rem;
    margin-top: 4%;
    margin-bottom: 4%;
    color: #056839;
  }
  .work-with-us-subtext {
    font-size: 15px;
    line-height: 2;
  }

  /* .products {
    width: 100% !important;
  } */

  .get-started-header {
    font-size: 1.7rem;
    margin-bottom: 4%;
  }
  @keyframes zoom-in {
    0% {
      background-size: 180%;
    }
    100% {
      background-size: 220%;
    }
  }

  .banner-img {
    /* -webkit-transition: 10s ease-out;
  transition: 10s ease-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); */
    /* transition: transform 1s ease;
  transform: scale(1.7);
  transform-origin: center; */
    animation: zoom-in 10s infinite;
    overflow: hidden !important;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  /* .nav-links {
    float: none;
    position: fixed;
    font-size: 30px;
    height: 100%;
    background-color: #9f50de;
    opacity: 90%;
    display: block !important;
    justify-content: center !important;
    padding: 100px;
    width: 100%;
    top: -130%;
    left: 0;
    text-align: centr;
    transition: all 0.5s ease-in-out;
    margin-left: 0px !important;
  } */
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  /* .nav-links {
    display: none;
  } */

  .nav-links {
    float: none;
    position: fixed;
    font-size: 30px;
    height: 100%;
    background-color: #d9b833;
    opacity: 90%;
    display: block !important;
    justify-content: center !important;
    padding: 100px;
    width: 100%;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s ease-in-Sout;
    margin-left: 0px !important;

    color: black;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-a {
    color: black !important;
  }
  .nav-a-scrolled {
    color: black;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-link {
    margin-left: 0px;
    margin-bottom: 2%;
  }
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .gen-btn {
    margin-top: 3%;
  }

  .hamburger {
    display: block;
  }

  .checkbtn {
    display: block !important;
  }
  #check:checked ~ .nav-links {
    left: 0% !important;
    top: 40px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-links {
    float: none;
    position: fixed;
    font-size: 30px;
    height: 40%;
    background-color: white;

    display: block !important;
    justify-content: center !important;
    padding-top: 15px;
    width: 100%;
    top: 0;
    left: -200%;
    text-align: left;
    padding-left: 20%;
    padding-top: 20%;
    transition: all 0.5s ease-in-out;
    margin-left: 0px !important;
    z-index: 9;
    color: black;
  }
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .nav-links.active {
    left: 0;
  }
  .nav-a {
    color: black !important;
  }
  .nav-a-scrolled {
    color: black;
  }

  .footer-section {
    grid-template-columns: auto auto;
  }

  .service-boxes {
    flex-direction: column;
  }

  @keyframes zoom-in {
    0% {
      background-size: 180%;
    }
    100% {
      background-size: 220%;
    }
  }

  .banner-info {
    padding-top: 30%;
  }

  .banner-img {
    /* -webkit-transition: 10s ease-out;
  transition: 10s ease-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); */
    /* transition: transform 1s ease;
  transform: scale(1.7);
  transform-origin: center; */
    animation: zoom-in 10s infinite;
    overflow: hidden !important;
  }

  .team-info {
    flex-direction: column;
    justify-content: center;
  }

  .team-name-position {
    max-width: 100%;
  }
  .team-img-div {
    width: 100%;
    margin-bottom: 5%;
  }

  .hamburger {
    display: block;
    z-index: 9;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav {
    justify-content: unset;
    gap: 50%;
  }

  /* .nav-links {
    display: none;
  } */
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* .nav-links {
    display: none;
  } */
  /* .container {
    padding-left: 5%;
    padding-right: 5%;
  } */
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  body {
    background-color: white;
  }
}

.contact-area {
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contact-form-area {
  width: 100%;
}
.contact-form-area2 {
  width: 100%;
}

.contact-input-100 {
  width: 100%;
}

.contact-input-group {
  display: flex;
  justify-content: space-between;
}

.contact-area .shape-left-top {
  max-width: 30%;
  top: 60px;
  opacity: 0.1;
}

.contact-style-one-info li {
  display: flex;
  margin-top: 30px;
}

.contact-style-one-info li i {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  background: var(--color-primary);
  border-radius: 50%;
  color: var(--white);
  font-size: 25px;
  margin-right: 20px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border: 1px solid #056839;
}

.contact-style-one-info li:nth-child(2) i {
  background: var(--color-secondary);
}

.contact-style-one-info li:nth-child(3) i {
  background: var(--dark);
}

.contact-style-one-info li p {
  margin: 0;
}

.contact-style-one-info li h5 {
  font-weight: 700;
  margin-bottom: 5px;
}

.contact-style-one-info li a {
  font-weight: 400;
}

.contact-style-one-info h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 1;
}

.contact-style-one-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
}

.contact-form-style-one {
  box-shadow: 0px 15px 60px -10px rgb(109 117 143 / 33%);
  padding: 60px 80px;
  border-radius: 10px;
  position: relative;
  background: var(--white);
}

.contact-form-style-one .illustration {
  position: absolute;
  left: -130px;
  bottom: -60px;
  z-index: -1;
}

.contact-form-style-one .sub-heading {
  margin-bottom: 15px;
}

.contact-form-style-one .heading {
  margin-bottom: 30px;
}

.contact-form-style-one input,
.contact-form-style-one textarea {
  margin-bottom: 15px;
  padding: 15px 20px;
  border: none;
  background: #f8f8f8;
  font-size: 14px;
}

.contact-form-style-one textarea {
  min-height: 180px;
}

.contact-form-style-one button:hover::after {
  -webkit-transform: translateY(-45%) skew(25deg) scale(1.2);
  transform: translateY(-45%) skew(25deg) scale(1.2);
}

.contact-form-style-one button:hover {
  color: var(--color-heading);
}

img.loader {
  margin-left: 8px;
}

.contact-style-one-info h2 span {
  position: relative;
  z-index: 1;
}

.contact-style-one-info h2 span svg {
  position: absolute;
  top: auto;
  left: 50%;
  width: 80%;
  height: 100%;
  transform: translate(-50%);
  overflow: visible;
  bottom: 0;
  z-index: -1;
}

.contact-links {
  text-decoration: none;
  color: black;
  transition: all 0.2s;
}

.contact-links:hover {
  color: #056839;
  text-decoration: underline;
}

.contact-style-one-info h2 span path {
  stroke: var(--color-secondary);
  stroke-width: 10;
  stroke-dasharray: 1500;
  fill: none;
}

.maps-area iframe {
  min-height: 550px;
  margin-bottom: -10px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.error-box h1 {
  font-size: 200px;
  font-weight: 900;
  line-height: 150px;
  margin-bottom: 30px;
}

.error-box h2 {
  font-weight: 800;
  margin-bottom: 20px;
}

.alert-notification {
  margin-top: 30px;
}

.alert-notification .alert {
  margin: 0;
}

.alert-notification h3 {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 22px;
  color: red;
}

.alert-notification p {
  margin: 0;
}

.alert-notification p strong {
  color: #232323;
}

.alert-notification .alert.alert-success h3 {
  color: green;
}

.sub-title {
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 800;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-family: var(--font-secondary);
}
.heading {
  font-weight: 800;
  margin-bottom: 25px;
  margin-top: -5px;
}

.contact-section {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.contact-icon {
  background-color: #ffcc00;
  padding: 2%;
  width: 10px;
  height: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  margin-right: 5%;
}

ul {
  list-style: none;
}

.dropdown li {
  display: block;
  margin-top: 3%;
  margin-bottom: 3%;
}

.dropdown-link {
  color: white;
  text-decoration: none;
  margin-bottom: 5%;
}

.dropdown-link:hover {
  color: #ffcc00 !important;
}

.dropdown li:hover {
  color: #ffcc00;
}

ul.dropdown {
  width: 180px;
  background-color: #056839;
  position: absolute;
  z-index: 999;
  display: none;
  padding: 1%;
  border-radius: 6%;
  transform: 0.5s;
}

.nav-link:hover ul.dropdown {
  display: block;
  color: white;
}

/* .dropdown-show {
  display: block;
} */
